<mat-card>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contenido</mat-label>
            <textarea matInput formControlName="contenido"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Imagen</mat-label>
            <input matInput formControlName="imagen">
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Añadir publicación</button>
    </form>
</mat-card>