<mat-card>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contenido</mat-label>
            <textarea matInput formControlName="contenido"></textarea>
        </mat-form-field>
        <br/>
        <input type="file" accept=".png, .jpg, .pjeg" formControlName="imagen" (change)="selectImage($event)">
        <br /><br />
        <button mat-stroked-button color="primary" [disabled]="!isSelected" (click)="uploadImage()">Subir imagen</button>
        <br />
        {{mensaje}}
        <br /><br />
        <button mat-raised-button color="primary" [disabled]="form.invalid || !isUpload" (click)="onSubmit()">Añadir publicación</button>
    </form>
</mat-card>