.example-card {
  max-width: 400px;
}

.header-image {
  background-size: cover !important;
  background-position: center !important;
}

.mat-form-field {
  width: 100%;
}

.deleteImg {
  max-width: 300px;
}

span {
  font-weight: bold;
}

.publicaciones {
  width: 45%;
  display: inline-grid;
  margin: 0px 10px 10px 10px;
}