<app-navbar></app-navbar>
<mat-card>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <br/>
        <input type="file" accept=".png, .jpg, .pjeg" formControlName="imagen" (change)="selectImage($event)">
        <br /><br />
        <br />
        <button mat-raised-button color="accent" (click)="goBack()">Volver</button>&nbsp;
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="saveProfile()">Editar pefil</button>
    </form>
    {{mensaje}}
</mat-card>